
a{
    text-decoration: none;
   color:#ddd;
  

}

nav ul  {
    display: flex;
    text-decoration: none;
     list-style: none;
     margin-right:22px;
     color: white;

   
     
 }
 nav ul li {
     display: flex;
     margin-right: 30px;
     align-items: center;

 }
 nav ul li a{
    display: flex;
    align-items: center;
 }
 nav ,footer{
     background-color: grey;

 }

 nav{
     padding:30px 0;
 }

    

 nav  img{
   
  margin-right: 30px;
  
    
} 
/* main */
.continer{
    display: flex;
    width: 960px;
    margin: 0 auto;
    /* padding-right: 60px; */
}
main section:nth-of-type(1){
    padding-top: 30px;
}
.ad {
display:flex;
justify-content: space-between;
padding-top: 30px;
padding-bottom: 30px;


}
.an  {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.an div:nth-of-type(2){
    padding-left: 30px;
    
   
}
.an   p{
   
    height:calc(400px - 30px - 36px );
    overflow-y:scroll;
    margin-bottom: 40px;
 
   
}
h6 {
  
  
   font-size: 15px;
   font-weight: lighter;
   font-family: sans-serif;
}
 main .an a {
   background-color:black;
   color:white;
   padding: 10px 20px;
   transition: .350s background-color ease ;
  

}
 .an a:hover {
   background-color: gray;
    
  }
  /* footer */
  footer{
      
    padding: 40px;
   margin-left: 45px;
   margin-right: 45px;
    
}
      
 